$color_1: #fff;
$color_2: #4bb543;

@import "https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;500&family=Slabo+27px&display=swap";
body {
	background: url(../images/quizzBg.jpg);
	background-attachment: fixed;
	background-size: cover;
	font-family: "Inconsolata", monospace;
}
.stepper {
	margin-top: auto;
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}
.stepper-item {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
	.step-counter {
		position: relative;
		z-index: 5;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
		border-radius: 25%;
		background: $color_1;
		margin-bottom: 6px;
	}
}

.stepper-item.completed {
	.step-counter {
		background-color: $color_2;
	}
	&::before {
		position: absolute;
		content: "";
		border-bottom: 2px solid $color_2;
		width: 100%;
		top: 20px;
		left: -50%;
		z-index: 3;
	}
}

.stepper-item:first-child::before{
    content: none;
}
.step-name {
	color: $color_1;
}
.contentContainer {
	margin-inline: 50px;
	display: flex;
	justify-content: center;
}
.quizForm {
	text-align: center;
	margin-top: 20px;
	background-color: $color_1;
	padding: 30px;
	border-radius: 10px;
	width: 500px;
	ol{
		list-style: none;
		i{
			color: #4C005B;
			margin-right: 8px;
		}
	}
}
.fontWeight {
	font-weight: bold;
}
.ruleslist {
	text-align: start;
}
table {
	display: flex;
	justify-content: center;
	tr {
		border: 3px solid #000000db;
		// border-radius: 25px;
		input {
			display: none;
		}
		label {
			padding: 10px;
		}
	}
}
.buttons {
	display: flex;
	justify-content: space-evenly;
}
#progBack {
	background-color: #faebd7;
	width: 100%;
	height: 10px;
	border-radius: 5px;
}
#progFront {
	background-color:  #0932fb;
	width: 0%;
	height: 10px;
	border-radius: 5px;
}
.hide {
	display: none;
}
